/*composition*/
/*heeft alles te maken met ruimte en layout*/
/*we beginnen met ruimte (layout is voor de volgende les)*/

:root{
    --color-dominant: #FFFFFF;
    --color-contrast: #AAAAAA;
    --color-complement: #f1f1f1;
    --color-accent: #009688;

    --card-padding: 1rem;
    --card-distance: 2rem;
}

html{
    font-family: sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4{
    line-height: 0.9;
}

img{
    max-width: 100%;
}

body {
    margin: 0;
}

main{
    padding: 2rem;
}

.card{
    padding: var(--card-padding);
    margin-bottom: var(--card-distance);
}

#socialeMedia{
    text-align: center;
    padding: var(--card-padding);
}

#socialeMedia>* {
    margin: 1rem;
}

#socialeMediaLijst{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#socialeMediaLijst>li{
    display: inline; 
}

@media only screen and (min-width:600px) {
    #mainGridContainer{
        display: grid;

        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;

        grid-template-areas: "personal work "
                             "personal education"
                             ".        education";
        grid-gap: 1rem;
        padding: 1rem;
    }
    
    .card{
        margin-bottom: 0;
    } 

    #persoonlijk{
        grid-area: personal;
    }

    #werkervaring{
        grid-area: work;
    }
    
    #studies{
        grid-area: education;
    }
}

@media only screen and (min-width:900px) {
    #mainGridContainer{
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: auto;

        grid-template-areas: "personal work education";
    }
}