/* UTILITIES*/
/*kleine klassen die helpen met kleur en interne ruimte*/

.bg-accent{
    background-color: var(--color-accent);
}

.bg-complement{
    background-color: var(--color-dominant);
}

.bg-dominant{
    background-color: var( --color-complement);
}

.text-white{
    color:  var(--color-dominant);
}

.shadow-high{
    box-shadow: 0 0 1rem;
}
.shadow-low{
    box-shadow: 0 0 0.5rem;
}

