header {
    background-color: #FF0000;
    padding: 1rem; 
}

img {
    max-width: 100%;
}

a {
    background-color: #000000;
    color: #FFFFFF;
    text-decoration:none;
    display: block;
    height: 2.5rem;
    padding: 1rem;
    margin: 1rem;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2 {
    margin: 0;
}

main>section {
    border-width: 0 0.1rem;
    border-color: #000000;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    padding: 0.6rem;
    margin: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

