header {
    background-color: #FF0000; 
}

a {
    background-color: #000000;
    color: #FFFFFF;
    text-decoration:none;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

section#healthrisk,
section#flavours {
    margin: 0.8rem;
    border: 0.1rem solid #000000;
    padding: 0.6rem;
}

